<nav class="navbar navbar-light bg-light">
    <h5 class="navbar-text">
        <a href="dashboard/create">
            <button type="button" class="btn btn-info">Create Blog</button>
        </a>
    </h5>
    <h5>Welcome {{welcome_msg}}</h5>
    <a href="/">
        <button type="button" class="btn btn-warning">Logout</button>
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5">
                {{# each data}}
                    <div class="card  mb-2">
                        <h4 class="card-header blog-title">{{this.title}}</h4>

                        <div class="card-body">
                            <p class="card-text">{{this.text}}</p>
                            <a href="/dashboard/read/{{this.title}}" class="btn btn-primary more_text">more</a>
                        </div>
                        <div class="card-footer text-muted">{{this.date}}
                            <span class="float-right">Author: {{this.name}}</span>
                        </div>
                    </div>
                {{/each}}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>